@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.lower-div{
    background: linear-gradient(267.51deg, #000000 1.16%, #000000 98.8%);
    /* height: 100vh; */
    width: 100%;
    z-index: 1;
}

@font-face {
  font-family: 'RecklessNeue';
  src: url('../../assets/fonts/RecklessCollectionVF-TRIAL.woff2') format('woff2');
  font-weight: 100 900;  /* variable weight range */
  font-style: normal;
  font-display: swap;
}

/* Reckless Neue Italic Variable */
@font-face {
  font-family: 'RecklessNeue';
  src: url('../../assets/fonts/RecklessItalicCollectionVF-TRIAL.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}




/* 
.title div{
    width: 80%;
} */
.title {
  text-align: center;
  width: 100%;
  color: rgb(220, 217, 217);
  font-weight: 300;
  font-size: 4.5rem;
  font-family:'RecklessNeue', serif;
  padding: .5rem;
  line-height: 1;
  /* letter-spacing: -.02em; */
  /*letter-spacing: -.05em;*/

  /* remove top margin that caused collapse */
  margin: 0;

  /* use padding to push the title down without collapsing */
  padding-top: 2rem;
  padding-bottom: 2rem;

  position: static;
}

.highlight {
    --tw-bg-opacity:1;
    background-color: rgb(255 237 213/var(--tw-bg-opacity)); /* your chosen highlight color */
    color: rgb(194 65 12); /* text color on highlight */
    padding: 0.2em 0.4em; /* space around the word */
    border-radius: 4px; /* rounded corners */
    font-weight: 500; /* optional: make it slightly bolder */
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(156 163 175);
    /* font-size: 2.5rem; */
    font-family:'Inter';
    font-style: normal;
    line-height: 1.75rem;
    text-align: center;
}

.desc div{
    width: 40%;
}



.btn{
    background: rgb(249 115 22) !important;
    border-radius: 60px;
    font-family:'Times New Roman', Times, serif;
    width: 100% !important;
}



@media only screen and (max-width: 500px) {
    .desc div{
        width: 80%;
    }
    
  }
